Package: llf-tool
Version: 1.0
Architecture: all
Maintainer: A. Serhat KILIÇOĞLU <github.com/shampuan>
Depends: python3, python3-pyqt5, python3-pyqt5.qtmultimedia
Description: LLF Tool for Linux
 A simple GUI for low level format tools, with sound and visuals.

